---
layout: tutorial_main
title: Tutorials
permalink: /tutorials/
---

<h1>CMS TEST</h1> 
<h2>
    If you don't know why you're here, please go to 
    <a href="http://sparkjava.com">http://sparkjava.com</a>
</h2>

<div class="posts">
{% assign tutorials = (site.posts | where: "category" , "tutorials") %}
{% for post in tutorials %}
  <div class="post">
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <div class="post-meta">
        {{ post.date | date: "%b %-d, %Y" }}
        {% if post.author %} • Written by {{ post.author }} {% endif %} • Spark Framework Tutorials
     </div>
    <p>{{ post.summary }}</p>
  </div>
{% endfor %}
</div>
