* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-y: scroll;
}

.width-limit {
    width: 100%;
    padding: 0 20px;
    max-width: 840px;
    margin: 0 auto;
}
