* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-y: scroll;
}

.width-limit {
    width: 100%;
    padding: 0 20px;
    max-width: 840px;
    margin: 0 auto;
}

.right-menu {
    position: fixed;
    left: 50%;
    list-style: none;
    padding: 0;
    margin-left: 430px;
    top: 110px;
    z-index: 999999;
}